# Property List files
*.plist

# macOS system files
*.DS_Store

# Config
*.xcconfig

.env

xcuserdata/
*.xcuserstatexcuserdata/
*.xcuserstate

# fastlane artifacts
fastlane/report.xml
fastlane/README.md
fastlane/test_output
fastlane/.env
fastlane/metadata
fastlane/screenshots